# Design and Dev
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
application/views/app/archive/*
.nova/*
dev/*
design/*
.DS_Store
.DS_Store?

# Content
upload/img/*
upload/vr/*
store/*
!store/.htaccess
includes/app/de/design_explorer_data/*

# Config
.env.production
.env.development
application/config/development/*

# Logs and Caches
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# Dependency directories
node_modules/
jspm_packages/
composer.phar
composer.lock
vendor/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/