*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
.nova/*
design/*
.DS_Store
.DS_Store?

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
application/views/app/archive/*
application/views/app/ski/*
application/views/app/ski/*
application/views/app/vr/*
composer.phar
composer.lock
/vendor/
sources/*

#pylos content
upload/img/*
upload/vr/*
store/*
!store/.htaccess
includes/app/de/design_explorer_data/*

#pylos config
.env.production
.env.development
application/config/development/*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/